[project]
	description = Packaging content for troveclient (distgit)
[access "refs/*"]
  read = group troveclient-distgit-core
  owner = group openstack/troveclient-distgit-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group openstack/troveclient-distgit-ptl
	label-Code-Review = -2..+2 group troveclient-distgit-core
	label-Verified = -2..+2 group openstack/troveclient-distgit-ptl
	label-Workflow = -1..+1 group openstack/troveclient-distgit-ptl
	label-Workflow = -1..+1 group troveclient-distgit-core
	label-Workflow = -1..+0 group Registered Users
	submit = group openstack/troveclient-distgit-ptl
	read = group Registered Users
    read = group troveclient-distgit-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group troveclient-distgit-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
